
#admin_noticePre {
    width: 100%;
    display: flex;
    justify-content: center;
	align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

#admin_noticePre .notice_content {
    position: relative;
    width: 810px;
    min-height: 474px;
    background-color: white;
}  

#admin_noticePre .notice_content .notice_TalBox {
    width: 100%;
}

#admin_noticePre .notice_content .notice_TalBox .notice_Title{
    margin: 20px 10px;
    text-align: left;
}

#admin_noticePre .notice_content .notice_TalBox .notice_Title h3 {
    margin: 0;
}

#admin_noticePre .notice_content .notice_TalBox .notice_Title p {
    margin: 10px 0;
}



/* 테이블 분류 css */


#admin_noticePre .notice_content .talBox_top {
    margin: 0 5px;
    
}

#admin_noticePre .notice_content .talBox_middle {
    margin: 0 5px;
}

#admin_noticePre .notice_content .talBox_top>form {
    width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

#admin_noticePre .notice_content .tal_top {
	width: 100%;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

#admin_noticePre .notice_content .tal_top .sort .sortBtn {
    display: inline-block;
    cursor: pointer;
    width: 100px;
    height: 26px;
    padding-top: 7px;
    background:none;
	color: #424242;
	background-color: white;
    border: 1px solid #dadada;
    outline: none;
}

#admin_noticePre .notice_content .tal_top .sort .selected {
    display: inline-block;
    cursor: pointer;
    width: 100px;
    height: 26px;
    padding-top: 7px;
    background-color: #fff;
    color: #424242;
    border-bottom: 2px solid #3b4f6a;
    outline: none;
}

#admin_noticePre .notice_content .tal_top .sort .sortBtn:hover {
    transition: 500ms;
    color: white;
    background-color: #475770;
}

#admin_noticePre .notice_content .tal_top .sort .selected:hover {
    transition: 500ms;
    color: white;
    background-color: #475770;
}


#admin_noticePre .notice_content .tal_top .sort button img {
    padding-right: 5px;
    width: 12px;
}

#admin_noticePre .notice_content .tal_top .searchForm {
    color: #252525;
    letter-spacing: -0.5px;
}

#admin_noticePre .notice_content .tal_top .searchForm input[type=search] {
    border: 1px solid #dadada;
    outline: none;
    height: 30px;
}

#admin_noticePre .notice_content .tal_top .searchForm input[type=search]:focus {
    transition: 500ms;
    border: 1px solid #252525;
}

#admin_noticePre .notice_content .tal_top .searchForm button {
    vertical-align: bottom;
    padding-top: 5px;
    height: 30px;
    border: none;
    background: none;
    outline: none;
}

#admin_noticePre .notice_content .tal_top .searchForm #ajaxSearch {
    letter-spacing:-0.5px; 
    padding-left: 15px;
    display: none; 
    width: 204px;
    position:absolute; 
    z-index: 5; 
    background-color: #fff; 
    border: 1px solid #888888;
}


/* 테이블 css */

#admin_noticePre .notice_content .tal_Title{
    display: table;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(59, 79, 106, 0.8);
    color: white;
}

#admin_noticePre .notice_content .tal_ContentBox {
    position: relative;
}

#admin_noticePre .notice_content .tal_Content {
    display: table;
    width: 100%;
    height: 42px;
    padding: 7px 0;
    background-color: white;
    border-left: 3px solid white;    
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

#admin_noticePre .notice_content .tal_Content:hover {
    display: table;
    width: 100%;
    padding: 7px 0;
    background-color: #eef1f7;
    border-left: 3px solid #3e4b6c;    
    border-bottom: 1px solid #eee;
	cursor: pointer;
	transition: 400ms;
}

#admin_noticePre .notice_content .tal_text {
    display: table-cell;
    width: 100%;
    padding: 5px;
}


#admin_noticePre .notice_content .talT_noticeNo {
    display: table-cell;
    width: 100px;
    padding: 5px;
}

#admin_noticePre .notice_content .talC_noticeNo {
    display: table-cell;
    width: 100px;
    padding: 5px;
}

#admin_noticePre .notice_content .talT_noticeSort {
    display: table-cell;
    width: 80px;
    padding: 5px;
}

#admin_noticePre .notice_content .talC_noticeSort {
    display: table-cell;
    width: 80px;
    padding: 5px;
}

#admin_noticePre .notice_content .talC_noticeSort .nSTextNotice,
#admin_noticePreView .nSTextNotice {
    display: inline-block;
    width: 60px;
    height: 20px;
    border: 1px solid #eee;
    padding: 5px 0;
    border-radius: 10px;
    color: #3b4f6a;
    background-color: white;
}

#admin_noticePre .notice_content .talC_noticeSort .nSTextEvent,
#admin_noticePreView .nSTextEvent {
    display: inline-block;
    width: 60px;
    height: 20px;
    border: 1px solid #eee;
    padding: 5px 0;
    border-radius: 10px;
    color: #6a3b4d;
    background-color: white;
}

#admin_noticePre .notice_content .talC_noticeSort .nSTextWriterEnroll,
#admin_noticePreView .nSTextWriterEnroll {
    display: inline-block;
    width: 60px;
    height: 20px;
    border: 1px solid #eee;
    padding: 5px 0;
    border-radius: 10px;
    color: #3b6a3b;
    background-color: white;
}

#admin_noticePre .notice_content .talT_noticeTitle {
    display: table-cell;
    padding: 5px;
}

#admin_noticePre .notice_content .talC_noticeTitle {
    display: table-cell;
    padding: 5px;
    text-align: left;
    text-indent: 20px;
}

#admin_noticePre .notice_content .talT_noticeWriter {
    display: table-cell;
    width: 100px;
    padding: 5px;
}

#admin_noticePre .notice_content .talC_noticeStatus {
    display: table-cell;
    text-align: center;
    width: 100px;
    padding: 5px;
}

#admin_noticePre .notice_content .talT_noticeDate {
    display: table-cell;
    width: 100px;
    padding: 5px;
}

#admin_noticePre .notice_content .talC_noticeDate {
    display: table-cell;
    width: 100px;
    padding: 5px;
}

#admin_noticePre .notice_content .talT_noticeReadcount {
    display: table-cell;
    width: 100px;
    padding: 5px;
}

#admin_noticePre .notice_content .talC_noticeReadcount {
    display: table-cell;
    width: 100px;
    padding: 5px;
}

/* 페이징처리 css 부분 */

#admin_noticePre .notice_content .talBox_bottom {
    display: inline-block;
    width:100%;
    height:50px;
	margin-top: 20px;
    text-align: center;
    transition: 400ms;
    font-size: 13px;
}

#admin_noticePre .notice_content .talBox_bottom a, #admin_noticePre .notice_content .talBox_bottom span {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
	padding-right: 10px;
	margin: 0 1px;
    text-decoration: none;
	color: black;
	background-color: white;
    border: 1px solid #eee;
    font-size: 14px;
}

#admin_noticePre .notice_content .talBox_bottom a:hover, #admin_noticePre .notice_content .talBox_bottom span:hover {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
	padding-right: 10px;
    text-decoration: none;
	color: black;
	background-color: #eee;
	font-size: 14px;
	transition: 400ms;
}


/* 복구버튼 */
#admin_noticePre .noticeListRe {
    display: inline-block;
    width: 45px;
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    background-color: rgb(136, 147, 199);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
	color: white;
	border: none;
	outline: none;
    cursor: pointer;
}
#admin_noticePre .noticeListRe:hover {
    transition: 400ms;
    color: white;
	background-color: rgb(0, 86, 184);
}

/* 삭제버튼 */
#admin_noticePre .noticeListDel {
    display: inline-block;
    width: 45px;
    height: 30px;
    font-size: 16px;
    font-weight: 700;
	background-color: rgb(199, 136, 136);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
	color: white;
	border: none;
	outline: none;
}
#admin_noticePre .noticeListDel:hover {
    transition: 400ms;
    color: white;
	background-color: rgb(184, 0, 0);
}


#admin_noticePre .weNoticeView {
    width: 100%;
    padding: 10px 0;
    display: flex;
    background-color: #d8d8d8;
    color:#5b5b5b;
    display: flex;
    align-items: center;
}

#admin_noticePre .noticeViewTitle {
    font-size: 20px;
    text-indent: 10px;
}

#admin_noticePre .weNoticeViewText {
    font-size: 16px;
    text-indent: 10px;
    display: flex;
    
}

#admin_noticePre .weNoticeViewTextS {
    font-size: 16px;
    text-align: center;
    width: 120px;
    height: 30px;
    padding-right: 10px;
    background-color: #eee;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#admin_noticePre .weNoticeViewTextE {
    font-size: 16px;
    text-align: center;
    width: 120px;
    height: 30px;
    padding-right: 10px;
    background-color: #eee;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
