
#admin_writerEnroll {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
	align-items: center;
	flex-direction: column;
}  

#admin_writerEnroll .tableBox{
    width: 95%;
    margin: 0 10px;
}

#admin_writerEnroll .tal_Title{
    display: table;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(59, 79, 106, 0.8);
    color: white;
    border-bottom: 1px solid #3b4f6a;
}

#admin_writerEnroll .tal_Content {
    display: table;
    width: 100%;
    height: 42px;
    padding: 10px 0;
    background-color: white;
    border-bottom: 1px solid black;
    cursor: pointer;
}

#admin_writerEnroll .tal_Content:hover {
    display: table;
    width: 100%;
    padding: 10px 0;
	background-color: rgba(59, 79, 106, 0.1);
    border-bottom: 1px solid black;
	cursor: pointer;
	transition: 400ms;
}

#admin_writerEnroll .tal_text {
    display: table-cell;
    width: 100%;
    padding: 5px;
}


#admin_writerEnroll .talT_WeNo {
    display: table-cell;
    width: 50px;
    padding: 5px;
    border-right: 1px solid #3b4f6a;
}

#admin_writerEnroll .talC_WeNo {
    display: table-cell;
    width: 50px;
    padding: 5px;
}

#admin_writerEnroll .talT_WeQuarter {
    display: table-cell;
    width: 70px;
    padding: 5px;
    border-right: 1px solid #3b4f6a;
}

#admin_writerEnroll .talC_WeQuarter {
    display: table-cell;
    width: 70px;
    padding: 5px;
}

#admin_writerEnroll .talT_NickName {
    display: table-cell;
    width: 80px;
    padding: 5px;
    border-right: 1px solid #3b4f6a;
}

#admin_writerEnroll .talC_NickName {
    display: table-cell;
    width: 80px;
    padding: 5px;
}

#admin_writerEnroll .talT_Email {
    display: table-cell;
    padding: 5px;
    border-right: 1px solid #3b4f6a;
}

#admin_writerEnroll .talC_Email {
    display: table-cell;
    text-align: left;
    text-indent: 15px;
    padding: 5px;
}

#admin_writerEnroll .talT_Name {
    display: table-cell;
    width: 60px;
    padding: 5px;
    border-right: 1px solid #3b4f6a;
}

#admin_writerEnroll .talC_Name {
    display: table-cell;
    width: 60px;
    padding: 5px;
}

#admin_writerEnroll .talT_Birthday {
    display: table-cell;
    width: 100px;
    padding: 5px;
    border-right: 1px solid #3b4f6a;
}

#admin_writerEnroll .talC_Birthday {
    display: table-cell;
    width: 100px;
    padding: 5px;
}

#admin_writerEnroll .talT_WeDate {
    display: table-cell;
    width: 100px;
    padding: 5px;
    border-right: 1px solid #3b4f6a;
}

#admin_writerEnroll .talC_WeDate {
    display: table-cell;
    width: 100px;
    padding: 5px;
}

#admin_writerEnroll .talT_WePassYN {
    display: table-cell;
    width: 60px;
    padding: 5px;
}

#admin_writerEnroll .talC_WePassYN {
    display: table-cell;
    width: 60px;
    padding: 5px;
}

#admin_writerEnroll .talC_WePassYN_textN {
	padding: 0;
	margin: 0;
	color: red;
}

#admin_writerEnroll .talC_WePassYN_textY {
	padding: 0;
	margin: 0;
	color: green;
}


#admin_writerEnroll .tal_bottom {
    display: inline-block;
	width:100%;
	margin-top: 10px;
    text-align: center;
    transition: 400ms;
    font-size: 13px;
}

#admin_writerEnroll .tal_bottom a, #admin_writerEnroll .tal_bottom span {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
	padding-right: 10px;
	margin: 0 1px;
    text-decoration: none;
	color: black;
	background-color: white;
    border: 1px solid rgba(59, 79, 106, 1);
    font-size: 14px;
}


#admin_writerEnroll .tal_bottom a:hover, #admin_writerEnroll .tal_bottom span:hover {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
	padding-right: 10px;
    text-decoration: none;
	color: black;
	background-color: rgba(59, 79, 106, 0.1);
    border: 1px solid rgba(59, 79, 106, 1);
	font-size: 14px;
	transition: 400ms;
}


/* 작가신청 미리보기 css */

#admin_writerEnroll .pagePreviewModal {
	position: fixed;
	z-index: 9200;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.5);
}

#admin_writerEnroll .pagePreviewModalBox {
	position: relative;
	width: 810px;
	height: 620px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: white;
}

#admin_writerEnroll .wEPreviewBody {
	position: absolute;
	top:0;
	width: 100%;
	height: 90%;
	overflow-y: scroll;
	border: 1px solid #c2c2c2;
}

#admin_writerEnroll .wEPreviewFooter {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: rgba(59, 79, 106, 1);
}

#admin_writerEnroll .wEPreviewFooter>div {
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#admin_writerEnroll .wEnrollPreAreaI {
	width: 100%;
	margin: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#admin_writerEnroll .wEnrollPreMemberImageBox img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

#admin_writerEnroll .wEnrollPreAreaT {
	width: 100%;
	margin: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#admin_writerEnroll .wEnrollPreTitle {
	width: 95%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	font-size:24px;
	color:rgba(59, 79, 106, 0.6);
}

#admin_writerEnroll .wEnrollPreBox {
	width: 95%;
	padding: 5px;
	text-align: left;
	border: 1px solid rgba(59, 79, 106, 0.6);
}

#admin_writerEnroll .wEnrollPreAttr {
	padding: 0px 10px;
	display: flex;
	font-size:16px;
	color:rgba(59, 79, 106, 1);
}

#admin_writerEnroll .wEnrollPreVal {
	min-height: 30px;
	margin-bottom: 15px;
	padding: 10px 20px;
	display: flex;
	font-size:18px;
	color:black;
}

#admin_writerEnroll .wEnrollPreValueBox {
	margin: 10px;
	border-left: 2px solid rgba(59, 79, 106, 1);
}

#admin_writerEnroll .button1 {
	margin: 5px;
	width: 100px;
	height: 30px;
	font-size: 16px;
	letter-spacing: 0.15em;
	border: 1px solid #c2c2c2;
	color: #252525;
	background-color: white;
	outline: none;
	opacity: 1;
	transition: 500ms;
	cursor: pointer;
}

#admin_writerEnroll .button1:hover {
    color: #fff;
	background-color: #252525;
	outline: none;
	transition: 500ms;
}








#admin_writerEnroll .tableBox_top>form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

#admin_writerEnroll .tal_top {
	width: 100%;
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

#admin_writerEnroll .tableBox_top .sort .sortBtn {
    display: inline-block;
    cursor: pointer;
    width: 100px;
    height: 26px;
    padding-top: 7px;
    background:none;
	color: #424242;
	background-color: white;
    border: 1px solid #dadada;
    outline: none;
}

#admin_writerEnroll .tableBox_top .sort .selected {
    display: inline-block;
    cursor: pointer;
    width: 100px;
    height: 26px;
    padding-top: 7px;
    background-color: #fff;
    color: #424242;
    border-bottom: 2px solid #3b4f6a;
    outline: none;
}

#admin_writerEnroll .tableBox_top .sort .sortBtn:hover {
    transition: 500ms;
    background-color: #eee;
}

#admin_writerEnroll .tableBox_top .sort .selected:hover {
    transition: 500ms;
    background-color: #eee;
}


#admin_writerEnroll .tableBox_top .sort button img {
    padding-right: 5px;
    width: 12px;
}

#admin_writerEnroll .tableBox_top .searchForm {
    color: #252525;
    letter-spacing: -0.5px;
}

#admin_writerEnroll .tableBox_top .searchForm input[type=search] {
    border: 1px solid #dadada;
    outline: none;
    height: 30px;
}

#admin_writerEnroll .tableBox_top .searchForm input[type=search]:focus {
    transition: 500ms;
    border: 1px solid #252525;
}

#admin_writerEnroll .tableBox_top .searchForm button {
    vertical-align: bottom;
    padding-top: 5px;
    height: 30px;
    border: none;
    background: none;
    outline: none;
}

#admin_writerEnroll .tableBox_top .searchForm #ajaxSearch {
    letter-spacing:-0.5px; 
    padding-left: 15px;
    display: none; 
    width: 204px;
    position:absolute; 
    z-index: 5; 
    background-color: #fff; 
    border: 1px solid #888888;
}
