@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

html, body {
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 13px;
	letter-spacing: -0.3px;
}
div#emailSendCheck {
	padding-top: 25px;
}

div#emailSendCheck input {
	outline: none;
	margin: 5px;
	padding-left:10px;
	width: 190px;
	height: 26px;
	border-radius: 4px;
	border: 1px solid #e6e6e6;
	background-color: #fff;
	font-size: 13px;
}

div#emailSendCheck button {
	width:100px;
	height:30px;
	outline:0px;
	background-color:#3a4763;
	color: #fff;
	padding:0px;
	outline:0;
	margin:0px;
	border:1px solid #c2c2c2;
	border-radius: 4px;
	text-align:center;
	font-size:12px;
}

div#emailSendCheck button:hover {
	background-color: #252525;
	color: #fff;
}

/* 아이디찾기 */

div#searchId {
	padding-top: 45px;
}


div#searchId input {
	outline: none;
	margin: 5px;
	padding-left:10px;
	width: 190px;
	height: 26px;
	border-radius: 4px;
	border: 1px solid #e6e6e6;
	background-color: #fff;
	font-size: 13px;
}

div#searchId button {
	width:100px;
	height:30px;
	outline:0px;
	background-color:#3a4763;
	color: #fff;
	padding:0px;
	outline:0;
	margin:0px;
	border:1px solid #c2c2c2;
	border-radius: 4px;
	text-align:center;
	font-size:12px;
}

div#searchId button:hover {
	background-color: #252525;
	color: #fff;
}

/* 비밀번호 찾기 */


div#searchPw {
	padding-top: 55px;
}


div#searchPw input {
	outline: none;
	margin: 5px;
	padding-left:10px;
	width: 190px;
	height: 26px;
	border-radius: 4px;
	border: 1px solid #e6e6e6;
	background-color: #fff;
	font-size: 13px;
}

div#searchPw select {
	outline: none;
	margin: 5px;
	padding-left:10px;
	width: 202px;
	height: 28px;
	border-radius: 4px;
	border: 1px solid #e6e6e6;
	background-color: #fff;
	font-size: 13px;
}

div#searchPw button {
	width:100px;
	height:30px;
	outline:0px;
	background-color:#3a4763;
	color: #fff;
	padding:0px;
	outline:0;
	margin:0px;
	border:1px solid #c2c2c2;
	border-radius: 4px;
	text-align:center;
	font-size:12px;
}

div#searchPw button:hover {
	background-color: #252525;
	color: #fff;
}