section#lecture {
    width: 100%;
    text-align: center;
    background-color: #eaecf0;
}

section#lecture .lecture_content {
    display: inline-block;
    text-align: center;
    width: 990px;
    padding-top: 213px;
}
section#lecture .lecture_content .lecture_top {
    width: 970px;
    height: 50px;
    position: fixed;
    color: rgb(39, 39, 39);
    padding-left: 20px;
    text-align: left;
    border: 1px solid #c7cacf;
    background-color: #fff;
    font-size: 14px;
    transition: 500ms;
    overflow: hidden;
}

section#lecture .lecture_content .lecture_top ul {
    margin: 0;
    padding: 0;
    padding-top: 13px;
    list-style-type: none;
}

section#lecture .lecture_content .lecture_top ul li {
	vertical-align: top;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid #e7e7e7;
    cursor: pointer;
    height: 30px;
}

section#lecture .lecture_content .lecture_top ul li:nth-child(1) {
    border: none;
} 

section#lecture .lecture_content .lecture_top ul li:hover {
    transition: 400ms;
}

section#lecture .lecture_content .lecture_center {
    padding-top: 60px;
    width: 970px;
    text-align: center;
}

section#lecture .lecture_content .lecture_center table {
	display: inline-block;
    border-collapse: collapse;
    text-align: center;
}

section#lecture .lecture_content .lecture_center  table th {
    height: 55px;
    font-size: 17px;
}
