
#writerEnrollModify {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: left;
}

#writerEnrollModify>form {
	background-color: white;
}

/* wEnrollbody css 영역 */

#writerEnrollModify .wEnrollbody {
	width: 810px;
	height: 100%;
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#writerEnrollModify .wEnrollPage {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
}

#writerEnrollModify .qBoxLocation {
	width: 100%;
	height: 100px;
}

#writerEnrollModify .qBox {
	margin: 30px;
	margin-right: 0;
	display: flex;
	justify-content: center;
}

#writerEnrollModify .qNumber {
	display: flex;
}

#writerEnrollModify .qNumber span {
	font-size: 20px;
	line-height: 40px;
	display: inline-block;
	width:15px;

}

#writerEnrollModify .qNumber::after {
	display: inline-block;
	content: '';
	width: 10px;
	height: 100%;
	border-right: 2px solid rgba(59, 79, 106, 1);
	top: 15%;
}

#writerEnrollModify .qContent {
	padding: 0 10px;
	width: 600px;
}

#writerEnrollModify .qText {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

#writerEnrollModify .qTitle {
	font-size: 20px;
	line-height: 40px;
}

#writerEnrollModify .qEx {
	font-size: 16px;
	line-height: 36px;
	color: #7c7c7c;
}

#writerEnrollModify .inputImageback {
	position: relative;
	width:100%;
	height:250px;
	border: 1px solid #C3C3D8;
	background-color: #C3C3D8;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 5px;
}

#writerEnrollModify .inputImage {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#writerEnrollModify .inputImage img {
	width:300px;
	height:200px;
	border-radius: 5px;
}

#writerEnrollModify .inputImage1 {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#writerEnrollModify .inputImage1 img {
	width:300px;
	height:200px;
	border-radius: 5px;
}

#writerEnrollModify .inputImageFile {
	position: absolute;
	width:100%;
	height:100%;
	opacity: 0;
}

#writerEnrollModify .inputClassImageFile {
	position: absolute;
	width:100%;
	height:100%;
	opacity: 0;
}

#writerEnrollModify .inputText {
	margin: 10px 5px;
	width: 100%;
	border: 0;
	border-bottom: 1px solid rgba(195, 195, 216, 0.5);
	font-size: 24px;
	font-weight: 300;
	color: #797A9E;
	outline: none;
}
#writerEnrollModify .qTextarea {
	margin: 10px 5px;
	width: 100%;
	border: 0;
	border-bottom: 1px solid rgba(195, 195, 216, 0.5);
	font-size: 24px;
	font-weight: 300;
	color: #797A9E;
	outline: none;
	overflow: hidden;
	resize: none;
}

#writerEnrollModify .button1 {
	margin: 5px;
	width: 100px;
	height: 30px;
	font-size: 16px;
	letter-spacing: 0.15em;
	border: 1px solid #c2c2c2;
	color: #252525;
	background-color: white;
	outline: none;
	opacity: 1;
	transition: 500ms;
	cursor: pointer;
}

#writerEnrollModify .button1:hover {
    color: #fff;
	background-color: #252525;
	outline: none;
	transition: 500ms;
}

#writerEnrollModify .button2 {
	margin: 5px;
	width: 100px;
	height: 30px;
	font-size: 16px;
	letter-spacing: 0.15em;
	border: 1px solid #c2c2c2;
	color: #252525;
	background-color: white;
	outline: none;
	opacity: 1;
	transition: 500ms;
	cursor: pointer;
}

#writerEnrollModify .button2:hover {
    color: #fff;
	background-color: #252525;
	outline: none;
	transition: 500ms;
}

#writerEnrollModify .buttonYNBox {
	margin: 0px 0px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

#writerEnrollModify .buttonYNBox div {
	margin: 0px 0px;
	display: flex;
	flex-direction: column;
}

#writerEnrollModify .buttonYN {
	margin: 5px;
	padding: 0 15px;
	height: 30px;
	font-size: 16px;
	text-align: left;
	letter-spacing: 0.15em;
	border: 1px solid #c2c2c2;
	color: #252525;
	background-color: white;
	outline: none;
	transition: 500ms;
	cursor: pointer;
}

#writerEnrollModify .buttonYN:hover {
    color: #fff;
	background-color: #252525;
	outline: none;
	transition: 500ms;
}

#writerEnrollModify .buttonYN1 {
	margin: 5px;
	padding: 0 15px;
	height: 30px;
	font-size: 16px;
	text-align: left;
	letter-spacing: 0.15em;
	border: 1px solid #c2c2c2;
	color: white;
	background-color: #252525;
	outline: none;
	transition: 500ms;
	cursor: pointer;
}

#writerEnrollModify .buttonYN1:hover {
    color: #252525;
	background-color: white;
	outline: none;
	transition: 500ms;
}

#writerEnrollModify .submit1Next {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#writerEnrollModify .submit1Step {
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#writerEnrollModify .submit1StepPoint {
	width: 80%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
}

#writerEnrollModify .submit1BoxY {
	width: 60px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #c2c2c2;
	background-color:  black;
	color: white;
	border-radius: 10px;
}

#writerEnrollModify .submit1BoxN {
	width: 60px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #c2c2c2;
	border-radius: 10px;
}

#writerEnrollModify .submit1BoxLine {
	width: 15%;
	height: 48%;
	border-bottom: 5px solid #c2c2c2;
}

#writerEnrollModify .writerClassLevelBox {
	width: 100%;
	height: 100px;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#writerEnrollModify .writerClassLevelBtn {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #c2c2c2;
}

#writerEnrollModify .writerClassLevelNum {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 1px solid #c2c2c2;
	color: black;
	background-color: white;
	transition: 500ms;
}

#writerEnrollModify .writerClassLevelNum:hover {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 1px solid #c2c2c2;
	color: white;
	background-color: #c2c2c2;
	transition: 500ms;
}

#writerEnrollModify .writerClassLevelNum1 {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 1px solid #c2c2c2;
	color: white;
	background-color: black;
	transition: 500ms;
}

#writerEnrollModify .writerClassLevelNum1:hover {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 1px solid #c2c2c2;
	color: black;
	background-color: white;
	transition: 500ms;
}

#writerEnrollModify .writerClassLevelContent {
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: space-between;
}




/* wEnrollFooter css 영역 */

#writerEnrollModify .wEnrollFooter {
	position: fixed;
	width: 790px;
	height: 80px;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.5);
	border-top:1px solid rgba(59, 79, 106, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 400ms;
}

#writerEnrollModify .wEnrollFooterBox1 {
	width: 100%;
	height: 50%;
	display: none;
	justify-content: center;
	align-items: center;
}

#writerEnrollModify .qBoxS {
	margin: 30px;
	margin-right: 0;
	display: flex;
	justify-content: center;
}

#writerEnrollModify .wEnrollFooterBox2 {
	width: 100%;
	height: 50%;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#writerEnrollModify .wEnrollFooter1 {
	position: fixed;
	width:100%;
	height: 100px;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.904);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1000ms;
}

#writerEnrollModify .commitPoint {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#writerEnrollModify .commitLineBox {
	width: 70%;
	height: 10px;
	background-color: rgba(59, 79, 106, 0.5);
}

#writerEnrollModify .commitLine {
	width: 0%;
	height: 10px;
	background-color: rgba(59, 79, 106, 1);
	transition: 500ms;
}

#writerEnrollModify .commitLineText {
	width: 70%;
	height: 20px;
	padding-top: 10px;
	display: flex;
	align-items: center;
}

#writerEnrollModify .commitContent {
	text-align: left;
	padding: 0 10px;
	letter-spacing: 0.15em;
}

#writerEnrollModify .button3 {
	font-size: 13px;
	height: 28px;
	text-align: left;
	letter-spacing: 0.15em;
	border: 1px solid rgba(59, 79, 106, 1);
	color: white;
	background-color: rgba(59, 79, 106, 1);
	outline: none;
	transition: 500ms;
	cursor: pointer;
}

#writerEnrollModify .button3:hover {
    color: black;
	background-color: white;
	outline: none;
	transition: 500ms;
}


#writerEnrollModify .qSelectBtn {
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#writerEnrollModify .buttonUpDown {
	font-size: 40px;
	width: 70px;
	height: 50px;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(59, 79, 106, 1);
	color: white;
	background-color: rgba(59, 79, 106, 1);
	border-radius: 10px;
	outline: none;
	transition: 500ms;
	cursor: pointer;
}

#writerEnrollModify .buttonUpDown:hover {
    color: rgba(59, 79, 106, 1);
	background-color: white;
	outline: none;
	transition: 500ms;
}


/* 작가신청 미리보기 css */

#writerEnrollModify .pagePreviewModal {
	position: fixed;
	z-index: 9200;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.5);
}

#writerEnrollModify .pagePreviewModalBox {
	position: relative;
	width: 810px;
	height: 620px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: white;
}

#writerEnrollModify .wEPreviewBody {
	position: absolute;
	top:0;
	width: 100%;
	height: 90%;
	overflow-y: scroll;
	border: 1px solid #c2c2c2;
}

#writerEnrollModify .wEPreviewFooter {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: rgba(59, 79, 106, 1);
}

#writerEnrollModify .wEPreviewFooter>div {
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#writerEnrollModify .wEnrollPreAreaI {
	width: 100%;
	margin: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#writerEnrollModify .wEnrollPreMemberImageBox img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

#writerEnrollModify .wEnrollPreAreaT {
	width: 100%;
	margin: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#writerEnrollModify .wEnrollPreTitle {
	width: 95%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	font-size:24px;
	color:rgba(59, 79, 106, 0.6);
}

#writerEnrollModify .wEnrollPreBox {
	width: 95%;
	padding: 5px;
	text-align: left;
	border: 1px solid rgba(59, 79, 106, 0.6);
}

#writerEnrollModify .wEnrollPreAttr {
	padding: 0px 10px;
	display: flex;
	font-size:16px;
	color:rgba(59, 79, 106, 1);
}

#writerEnrollModify .wEnrollPreVal {
	min-height: 30px;
	margin-bottom: 15px;
	padding: 10px 20px;
	display: flex;
	font-size:18px;
	color:black;
}

#writerEnrollModify .wEnrollPreValueBox {
	margin: 10px;
	border-left: 2px solid rgba(59, 79, 106, 1);
}


#writerEnrollModify .fileImgDelBtn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0px;
    right: 0px;
    font-size: 16px;
    font-weight: 700;
	background-color: rgb(199, 136, 136);
	border-radius: 10px;
	color: white;
	border: none;
	outline: none;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#writerEnrollModify .fileImgDelBtn:hover {
    transition: 400ms;
    color: black;
    border: 1px solid #475770;
	background-color: white;
}
