
#notice {
    display: flex;
    justify-content: center;
	align-items: center;
    flex-direction: column;
}

#notice .notice_content {
    width: 990px;
    height: 100%;
    padding-top: 200px;
    display: flex;
    justify-content: center;
	align-items: center;
    flex-direction: column;
}  

#notice .notice_content .notice_TalBox {
    width: 880px;
    margin: 0 10px;
}

#notice .notice_content .tal_Title{
    display: table;
    width: 100%;
    padding: 10px 0;
    background-color: #eceef2;
    color: black;
}

#notice .notice_content .tal_Content {
    display: table;
    width: 100%;
    padding: 10px 0;
    background-color: white;
    border-left: 3px solid white;    
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

#notice .notice_content .tal_Content:hover {
    display: table;
    width: 100%;
    padding: 10px 0;
    background-color: #eef1f7;
    border-left: 3px solid #3e4b6c;    
    border-bottom: 1px solid #eee;
	cursor: pointer;
	transition: 400ms;
}

#notice .notice_content .tal_text {
    display: table-cell;
    width: 100%;
    padding: 5px;
}


#notice .notice_content .talT_noticeNo {
    display: table-cell;
    width: 100px;
    padding: 5px;
}

#notice .notice_content .talC_noticeNo {
    display: table-cell;
    width: 100px;
    padding: 5px;
}

#notice .notice_content .talT_noticeSort {
    display: table-cell;
    width: 80px;
    padding: 5px;
}

#notice .notice_content .talC_noticeSort {
    display: table-cell;
    width: 80px;
    padding: 5px;
}

#notice .notice_content .talT_noticeTitle {
    display: table-cell;
    padding: 5px;
}

#notice .notice_content .talC_noticeTitle {
    display: table-cell;
    padding: 5px;
    text-align: left;
    text-indent: 20px;
}

#notice .notice_content .talT_noticeWriter {
    display: table-cell;
    width: 100px;
    padding: 5px;
}

#notice .notice_content .talC_noticeWriter {
    display: table-cell;
    width: 100px;
    padding: 5px;
}

#notice .notice_content .talT_noticeDate {
    display: table-cell;
    width: 100px;
    padding: 5px;
}

#notice .notice_content .talC_noticeDate {
    display: table-cell;
    width: 100px;
    padding: 5px;
}

#notice .notice_content .talT_noticeReadcount {
    display: table-cell;
    width: 100px;
    padding: 5px;
}

#notice .notice_content .talC_noticeReadcount {
    display: table-cell;
    width: 100px;
    padding: 5px;
}







#notice .notice_content .tal_bottom {
    display: inline-block;
	width:100%;
	margin-top: 10px;
    text-align: center;
    transition: 400ms;
    font-size: 13px;
}

#notice .notice_content .tal_bottom a, #admin_writerEnroll .tal_bottom span {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
	padding-right: 10px;
	margin: 0 1px;
    text-decoration: none;
	color: black;
	background-color: white;
    border: 1px solid rgba(59, 79, 106, 1);
    font-size: 14px;
}


#notice .notice_content .tal_bottom a:hover, #admin_writerEnroll .tal_bottom span:hover {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
	padding-right: 10px;
    text-decoration: none;
	color: black;
	background-color: rgba(59, 79, 106, 0.1);
    border: 1px solid rgba(59, 79, 106, 1);
	font-size: 14px;
	transition: 400ms;
}


/* 작가신청 미리보기 css */

#notice .notice_content .pagePreviewModal {
	position: fixed;
	z-index: 9200;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.5);
}

#notice .notice_content .pagePreviewModalBox {
	position: relative;
	width: 810px;
	height: 620px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: white;
}

#notice .notice_content .wEPreviewBody {
	position: absolute;
	top:0;
	width: 100%;
	height: 90%;
	overflow-y: scroll;
	border: 1px solid #c2c2c2;
}

#notice .notice_content .wEPreviewFooter {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: rgba(59, 79, 106, 1);
}

#notice .notice_content .wEPreviewFooter>div {
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#notice .notice_content .wEnrollPreAreaI {
	width: 100%;
	margin: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#notice .notice_content .wEnrollPreMemberImageBox img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

#notice .notice_content .wEnrollPreAreaT {
	width: 100%;
	margin: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#notice .notice_content .wEnrollPreTitle {
	width: 95%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	font-size:24px;
	color:rgba(59, 79, 106, 0.6);
}

#notice .notice_content .wEnrollPreBox {
	width: 95%;
	padding: 5px;
	text-align: left;
	border: 1px solid rgba(59, 79, 106, 0.6);
}

#notice .notice_content .wEnrollPreAttr {
	padding: 0px 10px;
	display: flex;
	font-size:16px;
	color:rgba(59, 79, 106, 1);
}

#admin_wrinotice .notice_contentterEnroll .wEnrollPreVal {
	min-height: 30px;
	margin-bottom: 15px;
	padding: 10px 20px;
	display: flex;
	font-size:18px;
	color:black;
}

#notice .notice_content .wEnrollPreValueBox {
	margin: 10px;
	border-left: 2px solid rgba(59, 79, 106, 1);
}

#notice .notice_content .button1 {
	margin: 5px;
	width: 100px;
	height: 30px;
	font-size: 16px;
	letter-spacing: 0.15em;
	border: 1px solid #c2c2c2;
	color: #252525;
	background-color: white;
	outline: none;
	opacity: 1;
	transition: 500ms;
	cursor: pointer;
}

#notice .notice_content .button1:hover {
    color: #fff;
	background-color: #252525;
	outline: none;
	transition: 500ms;
}








#notice .notice_content .tal_top>form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

#notice .notice_content .tal_top {
	width: 100%;
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

#notice .notice_content .tal_top .sort .sortBtn {
    display: inline-block;
    cursor: pointer;
    width: 100px;
    height: 26px;
    padding-top: 7px;
    background:none;
	color: #424242;
	background-color: white;
    border: 1px solid #dadada;
    outline: none;
}

#notice .notice_content .tal_top .sort .selected {
    display: inline-block;
    cursor: pointer;
    width: 100px;
    height: 26px;
    padding-top: 7px;
    background-color: #fff;
    color: #424242;
    border-bottom: 2px solid #3b4f6a;
    outline: none;
}

#notice .notice_content .tal_top .sort .sortBtn:hover {
    transition: 500ms;
    background-color: #eee;
}

#notice .notice_content .tal_top .sort .selected:hover {
    transition: 500ms;
    background-color: #eee;
}


#notice .notice_content .tal_top .sort button img {
    padding-right: 5px;
    width: 12px;
}

#notice .notice_content .tal_top .searchForm {
    color: #252525;
    letter-spacing: -0.5px;
}

#notice .notice_content .tal_top .searchForm input[type=search] {
    border: 1px solid #dadada;
    outline: none;
    height: 30px;
}

#notice .notice_content .tal_top .searchForm input[type=search]:focus {
    transition: 500ms;
    border: 1px solid #252525;
}

#notice .notice_content .tal_top .searchForm button {
    vertical-align: bottom;
    padding-top: 5px;
    height: 30px;
    border: none;
    background: none;
    outline: none;
}

#notice .notice_content .tal_top .searchForm #ajaxSearch {
    letter-spacing:-0.5px; 
    padding-left: 15px;
    display: none; 
    width: 204px;
    position:absolute; 
    z-index: 5; 
    background-color: #fff; 
    border: 1px solid #888888;
}


