
#writerEnrollSection {
	position: relative;
	width: 100%;
	padding-top: 130px;
	font-family: 'Noto Sans KR', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: left;
}


/* wEnrollbody css 영역 */

#writerEnrollSection .wEnrollbody {
	width: 990px;
	height: 100%;
	margin-top: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#writerEnrollSection .wEnrollPage {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
}

#writerEnrollSection .qBoxLocation {
	width: 100%;
	height: 100px;
}

#writerEnrollSection .qBox {
	margin: 30px;
	margin-right: 0;
	display: flex;
	justify-content: center;
}

#writerEnrollSection .qNumber {
	display: flex;
}

#writerEnrollSection .qNumber span {
	font-size: 20px;
	line-height: 40px;
	display: inline-block;
	width:15px;

}

#writerEnrollSection .qNumber::after {
	display: inline-block;
	content: '';
	width: 10px;
	height: 100%;
	border-right: 2px solid rgba(59, 79, 106, 1);
	top: 15%;
}

#writerEnrollSection .qContent {
	padding: 0 10px;
	width: 600px;
}

#writerEnrollSection .qText {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

#writerEnrollSection .qTitle {
	font-size: 20px;
	line-height: 40px;
}

#writerEnrollSection .qEx {
	font-size: 16px;
	line-height: 36px;
	color: #7c7c7c;
}

#writerEnrollSection .inputImageback {
	position: relative;
	width:100%;
	height:250px;
	border: 1px solid #C3C3D8;
	background-color: #C3C3D8;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 5px;
}

#writerEnrollSection .inputImage {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#writerEnrollSection .inputImage img {
	width:100px;
	height:100px;
	border-radius: 5px;
}

#writerEnrollSection .inputImage1 {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#writerEnrollSection .inputImage1 img {
	width:100px;
	height:100px;
	border-radius: 5px;
}

#writerEnrollSection .inputImageFile {
	position: absolute;
	width:100%;
	height:100%;
	opacity: 0;
}

#writerEnrollSection .inputClassImageFile {
	position: absolute;
	width:100%;
	height:100%;
	opacity: 0;
}

#writerEnrollSection .inputText {
	margin: 10px 5px;
	width: 100%;
	border: 0;
	border-bottom: 1px solid rgba(195, 195, 216, 0.5);
	font-size: 24px;
	font-weight: 300;
	color: #797A9E;
	outline: none;
}
#writerEnrollSection .qTextarea {
	margin: 10px 5px;
	width: 100%;
	border: 0;
	border-bottom: 1px solid rgba(195, 195, 216, 0.5);
	font-size: 24px;
	font-weight: 300;
	color: #797A9E;
	outline: none;
	overflow: hidden;
	resize: none;
}

#writerEnrollSection .button1 {
	margin: 5px;
	width: 100px;
	height: 30px;
	font-size: 16px;
	letter-spacing: 0.15em;
	border: 1px solid #c2c2c2;
	color: #252525;
	background-color: white;
	outline: none;
	opacity: 0;
	transition: 500ms;
	cursor: pointer;
}

#writerEnrollSection .button1:hover {
    color: #fff;
	background-color: #252525;
	outline: none;
	transition: 500ms;
}

#writerEnrollSection .button2 {
	margin: 5px;
	width: 100px;
	height: 30px;
	font-size: 16px;
	letter-spacing: 0.15em;
	border: 1px solid #c2c2c2;
	color: #252525;
	background-color: white;
	outline: none;
	opacity: 1;
	transition: 500ms;
	cursor: pointer;
}

#writerEnrollSection .button2:hover {
    color: #fff;
	background-color: #252525;
	outline: none;
	transition: 500ms;
}

#writerEnrollSection .buttonYNBox {
	margin: 0px 0px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

#writerEnrollSection .buttonYNBox div {
	margin: 0px 0px;
	display: flex;
	flex-direction: column;
}

#writerEnrollSection .buttonYN {
	margin: 5px;
	padding: 0 15px;
	height: 30px;
	font-size: 16px;
	text-align: left;
	letter-spacing: 0.15em;
	border: 1px solid #c2c2c2;
	color: #252525;
	background-color: white;
	outline: none;
	transition: 500ms;
	cursor: pointer;
}

#writerEnrollSection .buttonYN:hover {
    color: #fff;
	background-color: #252525;
	outline: none;
	transition: 500ms;
}

#writerEnrollSection .buttonYN1 {
	margin: 5px;
	padding: 0 15px;
	height: 30px;
	font-size: 16px;
	text-align: left;
	letter-spacing: 0.15em;
	border: 1px solid #c2c2c2;
	color: white;
	background-color: #252525;
	outline: none;
	transition: 500ms;
	cursor: pointer;
}

#writerEnrollSection .buttonYN1:hover {
    color: #252525;
	background-color: white;
	outline: none;
	transition: 500ms;
}

#writerEnrollSection .submit1Next {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#writerEnrollSection .submit1Step {
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#writerEnrollSection .submit1StepPoint {
	width: 80%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
}

#writerEnrollSection .submit1BoxY {
	width: 60px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #c2c2c2;
	background-color:  black;
	color: white;
	border-radius: 10px;
}

#writerEnrollSection .submit1BoxN {
	width: 60px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #c2c2c2;
	border-radius: 10px;
}

#writerEnrollSection .submit1BoxLine {
	width: 15%;
	height: 48%;
	border-bottom: 5px solid #c2c2c2;
}

#writerEnrollSection .writerClassLevelBox {
	width: 100%;
	height: 100px;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#writerEnrollSection .writerClassLevelBtn {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #c2c2c2;
}

#writerEnrollSection .writerClassLevelNum {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 1px solid #c2c2c2;
	color: black;
	background-color: white;
	transition: 500ms;
}

#writerEnrollSection .writerClassLevelNum:hover {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 1px solid #c2c2c2;
	color: white;
	background-color: #c2c2c2;
	transition: 500ms;
}

#writerEnrollSection .writerClassLevelNum1 {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 1px solid #c2c2c2;
	color: white;
	background-color: black;
	transition: 500ms;
}

#writerEnrollSection .writerClassLevelNum1:hover {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 1px solid #c2c2c2;
	color: black;
	background-color: white;
	transition: 500ms;
}

#writerEnrollSection .writerClassLevelContent {
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: space-between;
}




/* wEnrollFooter css 영역 */

#writerEnrollSection .wEnrollFooter {
	position: fixed;
	width: 990px;
	height: 80px;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.5);
	border-top:1px solid rgba(59, 79, 106, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 400ms;
}

#writerEnrollSection .wEnrollFooterBox1 {
	width: 100%;
	height: 50%;
	display: none;
	justify-content: center;
	align-items: center;
}

#writerEnrollSection .qBoxS {
	margin: 30px;
	margin-right: 0;
	display: flex;
	justify-content: center;
}

#writerEnrollSection .wEnrollFooterBox2 {
	width: 100%;
	height: 50%;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#writerEnrollSection .wEnrollFooter1 {
	position: fixed;
	width:100%;
	height: 100px;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.904);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1000ms;
}

#writerEnrollSection .commitPoint {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#writerEnrollSection .commitLineBox {
	width: 70%;
	height: 10px;
	background-color: rgba(59, 79, 106, 0.5);
}

#writerEnrollSection .commitLine {
	width: 0%;
	height: 10px;
	background-color: rgba(59, 79, 106, 1);
	transition: 500ms;
}

#writerEnrollSection .commitLineText {
	width: 70%;
	height: 20px;
	padding-top: 10px;
	display: flex;
	align-items: center;
}

#writerEnrollSection .commitContent {
	text-align: left;
	padding: 0 10px;
	letter-spacing: 0.15em;
}

#writerEnrollSection .button3 {
	font-size: 13px;
	height: 28px;
	text-align: left;
	letter-spacing: 0.15em;
	border: 1px solid rgba(59, 79, 106, 1);
	color: white;
	background-color: rgba(59, 79, 106, 1);
	outline: none;
	transition: 500ms;
	cursor: pointer;
}

#writerEnrollSection .button3:hover {
    color: black;
	background-color: white;
	outline: none;
	transition: 500ms;
}


#writerEnrollSection .qSelectBtn {
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#writerEnrollSection .buttonUpDown {
	font-size: 40px;
	width: 70px;
	height: 50px;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(59, 79, 106, 1);
	color: white;
	background-color: rgba(59, 79, 106, 1);
	border-radius: 10px;
	outline: none;
	transition: 500ms;
	cursor: pointer;
}

#writerEnrollSection .buttonUpDown:hover {
    color: rgba(59, 79, 106, 1);
	background-color: white;
	outline: none;
	transition: 500ms;
}


/* 작가신청 미리보기 css */

#writerEnrollSection .pagePreviewModal {
	position: fixed;
	z-index: 9200;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.5);
}

#writerEnrollSection .pagePreviewModalBox {
	position: relative;
	width: 810px;
	height: 620px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: white;
}

#writerEnrollSection .wEPreviewBody {
	position: absolute;
	top:0;
	width: 100%;
	height: 90%;
	overflow-y: scroll;
	border: 1px solid #c2c2c2;
}

#writerEnrollSection .wEPreviewFooter {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: rgba(59, 79, 106, 1);
}

#writerEnrollSection .wEPreviewFooter>div {
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#writerEnrollSection .wEnrollPreAreaI {
	width: 100%;
	margin: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#writerEnrollSection .wEnrollPreMemberImageBox img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

#writerEnrollSection .wEnrollPreAreaT {
	width: 100%;
	margin: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#writerEnrollSection .wEnrollPreTitle {
	width: 95%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	font-size:24px;
	color:rgba(59, 79, 106, 0.6);
}

#writerEnrollSection .wEnrollPreBox {
	width: 95%;
	padding: 5px;
	text-align: left;
	border: 1px solid rgba(59, 79, 106, 0.6);
}

#writerEnrollSection .wEnrollPreAttr {
	padding: 0px 10px;
	display: flex;
	font-size:16px;
	color:rgba(59, 79, 106, 1);
}

#writerEnrollSection .wEnrollPreVal {
	min-height: 30px;
	margin-bottom: 15px;
	padding: 10px 20px;
	display: flex;
	font-size:18px;
	color:black;
}

#writerEnrollSection .wEnrollPreValueBox {
	margin: 10px;
	border-left: 2px solid rgba(59, 79, 106, 1);
}
